<form name="passForm" class="container account-form" novalidate>
    <a class="normal-link" ui-sref="dashboard.account.home">Back to Account Setting</a>
    <div class="row">
        <div class="col-md-12">
            <div class="flat input-field">
                <label>Old Password</label>
                <input type="password" ng-model="input.oldPassword"  name="oldPassword"/>
                <p ng-show="error.wrongPass" class="text-danger">
                    Your password is invalid. Please try again
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="flat input-field">
                <label>New Password</label>
                <input type="password" ng-model="input.newPassword" name="newPassword" ng-minlength="8" required/>
                <div ng-show="passForm.$submitted || passForm.newPassword.$touched" class="velocity-opposites-transition-slideUpIn">
                    <p ng-show="passForm.newPassword.$error.required" class="text-danger">
                        Please enter the password.
                    </p>
                    <p ng-show="passForm.newPassword.$error.minlength" class="text-danger">
                        The password should have at least 8 characters.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="flat input-field">
                <label>Reenter Password</label>
                <input type="password" ng-model="input.rePassword"  name="rePassword" compare-to="input.newPassword"/>
                <div ng-show="passForm.$submitted || passForm.rePassword.$touched">
                    <p ng-show="passForm.rePassword.$error.compareTo" class="text-danger">
                        Password does not match.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pull-right">
            <button class="btn btn-hollow reverse pull-right margin-bottom" ng-click="changePassword()">Change</button>
        </div>
    </div>
</form>