<h5 ng-if="bills.length===0"> You don't have any bill currently in archive.</h5>
<div class="payment container" ng-repeat="payment in bills" >

    <div class="row">
        <div class="col-md-4">
            <img ng-src="{{payment.productDetail.image[0]}}" width="200" height="200">
        </div>
        <div class="col-md-8">
            <h4 class="theme-text">{{payment.productDetail.name}}</h4>
            <small>Created: {{payment.createdTime | date: 'hh:mm a, MMM dd yyyy'}}</small>
            <h5 class="theme-text">Amount: {{payment.unit + ' '+payment.productDetail.price.unit}}</h5>
            <p>
                <strong class="h5">Price: {{payment.unit*payment.productDetail.price.main + " "+payment.productDetail.price.currency}}</strong>
            </p>
            <p>
                <strong class="h5">Buyer:</strong>
                <span>
                    {{payment.buyer.firstName + ' '+ payment.buyer.lastName}}
                </span>
            </p>
            <p>
                <strong class="h5">Address: </strong>
                <span>
                    {{payment.buyer.address.main+ ' '+ payment.buyer.address.country}}
                </span>
            </p>
            <p>

                <div class="switch">
                    <strong>Payment: </strong>
                    <label>
                        <input type="checkbox" ng-check="payment.status.paid" ng-model="payment.status.paid" ng-change="saveBill(payment)">
                        <span class="lever"></span>
                    </label>
                </div>
            </p>
            <p>
                <input type="checkbox" id="{{'progress'+payment._id}}"
                       ng-checked="payment.status.inProgress"
                       ng-model="payment.status.inProgress"
                       ng-change="saveBill(payment)"/>
                <label for="{{'progress'+payment._id}}">In Progress</label>
            </p>
            <p>
                <input type="checkbox" id="{{'done'+payment._id}}"
                       ng-checked="payment.status.done"
                       ng-model="payment.status.done"
                       ng-change="saveBill(payment)"/>
                <label for="{{'done'+payment._id}}">Done Deal</label>
            </p>
            <div class="normal-link" ng-click="unArchive(payment)">Unarchive</div>
        </div>
    </div>
    <hr >
    <div class="payment-action">
        <button class="btn btn-hollow reverse danger small" ng-click="cancel(payment)">
            Cancel
        </button>
    </div>

</div>