<div class="container margin-top">
  <div class="row">
      <div class="login-container center-block">
          <div class="flat input-field">
              <label>Username</label>
              <input type="text" ng-model="input.userName" placeholder="User Name" name="username"/>
          </div>
          <div class="flat input-field">
              <label>Password</label>
              <input type="password" ng-model="input.password" placeholder="Password" name="password"/>
          </div>
          <hr>
          <div class="login-action" style="text-align: right">
              <button class="btn btn-hollow reverse" ng-click="logIn()">
                  Login
              </button>
          </div>

      </div>
  </div>
</div>
